/* required colors MUST be specified in RGB hex notation or the diagrams won't have correct colors */

body  {
  color: #000;
  background-color: #F7F7F7;
  font-family: arial, geneva, helvetica, lucida, sans-serif;
  margin: 0 0 0 0;
  padding: 0px;
}

/* background must be specified for it to propagate into diagrams */
.content {
  /*margin: 0px;*/
  background: #F7F7F7;
  /*border: 0 0;*/
  /*padding:.4em;*/
}

/* background-color must be specified for th to propagate into diagrams */
th {
  background-color: #f5f5f5;
  text-align: left;
}

/* background-color must be specified for td to propagate into diagrams */
td {
  background-color: #ffffff;
}

tr.even td.detail {
}

tr.odd td.detail {
  background-color: #F7F7F7;
}

/* background must be specified for .primaryKey to propagate into diagrams */
.primaryKey {
  background: #9CCFE0;
  font-weight: bold;
}

/* background must be specified for .indexedColumn to propagate into diagrams */
.indexedColumn {
  background: #F4F7DA;

}

/* background must be specified for .excludedColumn to propagate into diagrams */
.excludedColumn {
  background: #C0C0C0;

}

/* background must be specified for .selectedTable to propagate into diagrams */
.selectedTable {
  background: #A9AB96;
}


table {
  border-style: none;
  margin: 0;
}

.impliedRelationship {
  display: none;
  font-style: italic;
  color: #183118
}

.dataTable {
  font-size: 85%;
  background-color: #F7F7F7;
}

.heading {
  background: transparent;
  padding: 8px 0px;
}

.description {
  display: block;
  padding: 8px 0px;
}

.signature {
  font-size: 105%;
  font-weight: bold;
  font-style: italic;
}

.container {
  background-color: #F7F7F7;
  padding: 0px 0px;
}

.legend {
  display: none;
  text-align: left;
}

.legendDetail {
  background-color: #F7F7F7;
  padding: 0px 4px;

  font-style: normal;
  color: #000000
}

.relatedTable {
  padding: 0px 4px;
}

.relatedKey {
  display: none;
  padding: 0px -4px 0px 4px;
}

.constraint {
  display: none;
  text-align: right;
  padding: 0px 4px;
}

.comment {
  display: none;
  text-align: left;
}

.impliedNotOrphan {
}

.excludedRelationship {
  font-size: 85%;
}

.degrees {
}

/* don't display the diagrams until we know what to display */
.diagram {
  display: none;
}

.indent {
  padding: 2px;
}

.sortedByColumn {
  text-decoration: underline;
}

.notSortedByColumn {
  text-decoration: none;
}

.viewDefinition {
  font-size: 90%;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  float: left;
  padding: 4px;
  font-family: "Courier New", Courier, monospace
}

.viewReferences {
  font-size: 90%;
  padding: 4px;
}

/* wrap around divs that float so they "take up space" */
div.spacer {
  clear: both;
}

.preFormatted {
  white-space: pre;
}
